body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #000;
  margin: 0 auto;
  width: 80%;
}

header, footer {
  text-align: center;
  margin: 20px 0;
}

#site-logo {
  width: 100px;
  border: none;
}

/* ========== HEADER AREA ========== */
.header-flex {
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-color: #f8f8f8; 
  padding: 20px; 
  cursor: pointer; 
  width: 100%; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s ease; 
}

.header-flex:hover {
  background-color: #e0e0e0; 
}

#site-logo {
  max-width: 200px; 
  height: auto; 
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.nav-menu {
  list-style: none;
  padding: 0;
  margin: 15px 0;
}

.nav-menu li {
  display: inline;
  margin: 0 15px;
}

.nav-menu a {
  text-decoration: none;
  font-weight: bold;
  color: #990099;
}

.nav-menu a:hover {
  color: #336633;
  text-decoration: underline;
}

.nav-menu a.active {
  color: #336633;
}

main {
  margin-bottom: 30px;
}

.services-list {
  color: #336633;
  margin-left: 20px;
}

.services-list ul {
  margin-left: 20px;
}

.testimonial {
  margin: 20px 0;
}

.thumb {
  width: 150px;
  border: none;
  margin-top: 10px;
}

footer {
  font-size: 0.8em;
  color: #333;
}